body{
	background-image: url(img/city.png);
}

.container{
	background: white;
	width: 100%;
	height: 1060px;
	margin-top: 250px;
}
.resume{
	width: 650px;
	height: 250px;
	background: red;

}
