body{
	margin: 0;
	padding: 0;
	background: #c2bdbd;

}
.container{
	width: 1400px;
	height: 90px;
	border-bottom: 1px solid #f0f2f7;
	margin: auto;
	background: white;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
h1{
	margin: 32px 0 0 215px;
	position: absolute;
}
.rounded-button {
	float: right;
	padding: 32px 115px 0 0;
}
.cart{
	float: right;
	padding: 35px 33px 0 0;
}
nav{
	float: right;
	margin: 30px 115px 0 0;
}
nav li {	
	display: inline-block;
	margin-right: 30px;
	font-weight: 100%;
	text-decoration: none;
	font: bold 14px 'Montserrat', sans-serif;

}
.wrapper{
	width: 1400px;
	height: 60px;
	margin: auto;
}
.wrapper{
	display: flex;
	display: -webkit-flex;
	align-items: center;
	-webkit-align-items: center;
	background: white;
	font: 11px 'Montserrat', sans-serif;
}
.TOPSALES{
	margin-left: 115px;
}
.wrapper div a{
	margin-right: 30px;
}
.SUPPORT{
	margin-left: 390px;
}
.Search-Icon{
	margin-right: 15px;
}
.Banner{
	height: 500px;
	width: 1400px;
	margin: auto; 
	position: relative;
	margin-top: -67px; 
}