body{
	background-image: url(img/back-image.png);
	background-repeat: no-repeat;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
p{
	font-family: 'Ubuntu', sans-serif;
}
.navigation{
	background: white;
}
.nav-link{
	color: #6699cc;
}
.portfolio{
	height: 570px;
	background: white;
	margin-top: 100px;
}
.line{
	height: 50px;
	background: #6699cc;
	display: flex;
	justify-content: space-around;
}	
.Contacts{
	margin-top: 30px;
}
.Contacts p, h2, h4{
	text-align: center;
	font-family: 'Roboto', sans-serif;
	margin-top: 20px;
}
.Skills{
	margin-top: 50px;
}
.Some-info{
	text-align: center;
	margin-top: 10px;
	box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
	background: white;
}
.Some-info p{
	padding: 20px 20px;
}

.progress-group{
	margin-top: 60px;
}
.progress1{
	box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
	height: 300px;
	background: white;
}
.progress1 p{
	margin-top: 15px;
	text-align: center;
}
.progress1 p:first-child{
	margin-top: 0px;
}
#icon-progress{
	margin-left: 50px;
	margin-top: 100px;
}
.progress2{
	height: 300px;
	box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
	background: white;
}
.progress2 p{
	margin-top: 15px;
	text-align: center;
} 
.progress2 p:first-child{
	margin-top: 0px;
}
.about-mylife{
	height: 750px;
	margin-top: 60px;
}
.about-mylife h4{
	text-align: center;
	padding-top: 50px;
	color: #ebeff3; 
}
#photo-text{
	margin-left: 520px;
	margin-top: 20px;
}
.Photo-info{
	margin-top: 80px;
}
.about-hobbie{
	background: white;
	margin-top: 50px;
	text-align: center;
	border-radius: 0 0 15px 15px;
}
.about-hobbie p{
	padding: 30px 20px;
}