body{
	margin: 0;
	padding: 0;
	background-color: #ebeff3 !important;

}

body p{
	font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
}
a{
	text-decoration: none;
}
ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.wrapper{
	margin-left: 0px;
	margin-right: 0px;
}
                                                                   /*HEADER*/
header{
	width: 100%;
	height: 60px;
	background: #619de5;
	position: fixed;
	z-index: 2;
}
.menu{
	width: 200px;
	margin-left: -200px;
	position: relative;
}
#menu.active{
	margin-left: 0px;
}
.menu-btn{
	display: block;
	margin-top: 12px;
	margin-left: 215px;
	background: #4169e1;
	width: 34px;
	height: 34px;
	position: absolute;
	border-radius: 5px;
}
.menu-btn:hover{
	cursor: pointer;
	background: #fff;
}
.menu-btn span,
.menu-btn span::before,
.menu-btn span::after{
	position: absolute;
	top: 50%;
	margin-top: -1px;
	left: 50%;
	margin-left: -10px;
	width: 20px;
	height: 2px;
	background-color: #222;
}
.menu-btn span::before,
.menu-btn span::after{
	content: '';
}
.menu-btn span::before{
	transform: translateY(-5px);
}
.menu-btn span::after{
	transform: translateY(5px);
}
.menu-list{
	text-decoration: none;
	transition: all 300ms;
	-moz-transition: all 300ms;
	-webkit-transition: all 300ms;
	border: 1px solid #fff;
}
.menu-list li:hover {
	background: #4169e1;
	cursor: pointer;
}
.menu-list li{
	display: block;
	background: #619de5;
 	width: 100%;
	height: 45px;
	border-bottom: 1px solid #fff;
	transition: 0.3s all;
	border: 1px solid #fff;
}
.menu-list li a{
	display: block;
	padding-top: 7px;
	text-align: start;
	padding-left: 15px;  
	width: 100%;
	height: 45px;
	color: #fff;
	font-size: 12px;
	text-transform: uppercase;
	text-decoration: none !important;
	font-weight: 400;
}
.menu-list li a:hover{
	cursor: pointer;
	padding-top: 10px;
}
.menuContainer{
	position: relative;
}
.menuDrop{
	position: absolute;
	width: 100%;
	left: 100%;
	opacity: 0;
	top: -9999em;
	border: 1px solid #fff;
	transition: 0.2s all;
}
.menuContainer:hover .menuDrop{
	opacity: 1;
	top: -2px;

}
                                                                  /*HEADER ENDS*/
.schoolPhoto{
	width: 100%;
	height: 800px;
	background-image: url(img/backSchool.png);
}
.schoolPhoto p:first-child{
	text-align: center;
	padding-top: 300px;
	font-weight: bold;
	font-size: 56px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9) !important;
	color: #fff;
}
.schoolPhoto p{
	text-align: center;
	font-weight: bold;
	font-size: 56px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9) !important;
	color: #fff;
}
.nameOfSchool{
	height: 300px;
	margin-top: -30px;
	background: #fff;
	box-shadow:
  	 0 1px 4px rgba(0, 0, 0, .3),
  	 -23px 0 20px -23px rgba(0, 0, 0, .8),
  	 23px 0 20px -23px rgba(0, 0, 0, .8),
  	 0 0 40px rgba(0, 0, 0, .1) inset;
}
.nameOfSchool p{
	font-family: 'Roboto', Helvetica, Arial, Lucida, sans-serif;
	font-weight: 500;
	font-size: 22px;
	color: #000000 !important;
	text-align: center;
	padding-top: 100px;
}
.numberTeachersStydents, 
.numberYearsStydents{
	font-family: 'Roboto', Helvetica, Arial, Lucida, sans-serif;
	font-weight: 500;
	font-size: 72px;
	color: #000000 !important;
	text-align: center;
	margin-top: 100px;
}
.quantity{
	text-transform: uppercase;
    font-size: 24px;
    color: #000000 !important;
    line-height: 1.1em;
    text-align: center;
    font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
}
.quantity2{
	text-transform: uppercase;
    font-size: 24px;
    color: #000000 !important;
    line-height: 1.1em;
    text-align: center;
    font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
}
.bg-mission{
	background: #7b8494;
	width: 100%;
	height: 600px;
	margin-top: 230px;
}
.mission{
	margin: auto;
	background: #fff;
	width: 600px;
	margin-top: 200px;
}
.mission h3{
	text-align: center;
	font-size: 20px;
	font-weight: 500;
	padding-top: 30px;
	font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
}
.mission p{
	text-align: center;
	padding: 0 30px 30px;
}
.container{
	margin-top: 100px;
}
.youngStudentList li, 
.middleStudentList li,
.adultStudentList li{
	display: inline-block;
	margin-left: 30px;
}
.youngStudentList li p, 
.middleStudentList li p,
.adultStudentList li p{
	font-size: 25px;
	font-weight: 500;
}
.line{
	height: 2px;
	background: #333; 
}
.youngPhotoes div, 
.middlePhotoes div,
.adultPhotoes div  {
	padding-top: 10px;
}
#photoYoung2,
#photoMiddle2, 
#photoAdult2{
	margin-left: 15px;
}
#photoYoung3, 
#photoMiddle3,
#photoAdult3{
	margin-left: 30px;
}
.aboutYoung, 
.aboutMiddle,
.aboutAdult{
	border: 2px solid #333;
	margin-top: 30px;
}
.aboutYoung p, 
.aboutMiddle p,
.aboutAdult p{
	padding: 20px 20px;
}
.middleStudent, .adultStudent{
	margin-top: 80px;
	margin-top: 80px;
}

.line{
	height: 2px;
	background: #333; 
}

.line{
	height: 2px;
	background: #333; 
}


																					/*Footer starts*/


footer{
	width: 100%;
	height: 500px;
	background: #619de5;
	margin-top: 30px;
}
.address h6{
	font-size: 22px;
	font-weight: 450;
	padding-top: 10px;
}
.telephone li{
	display: inline-block;
	color: #fff;
	font-weight: 500; 
	font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
	font-size: 20px;
}
.telephone li p{
	padding-left: 10px;
	padding-top: 10px;
}
.email img{
	margin-left: 50px;
}
.email{
	padding-left: 100px;
}
.email p{
	font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
	font-size: 24px;
	color: #fff;
	padding-top: 10px;
	font-weight: 500; 
}
#facebook{
	padding-left: 100px;
}
.lineW{
	height: 1px;
	background: #fff;
	margin-top: 30px;
}
.footerEnd{
	padding-top: 20px;
}
.footerEnd p{
	text-align: center;
	color: #fff;
	font-size: 12px;
	padding-top: 0px;
}
                  															/*usefullLinks*/	
.bgLinks{
	background: #CAE1FF;
	height: 400px;
	width: 100%;
}
.helperLinksWrapp{
	position: absolute;
	right: -160px;
	top: 1200px;
	border: 2px solid #333;
	width: 302px;
	height: 909px;
	transition: 0.5s all;
	z-index: 1;
}
.helperLinksWrapp:hover{
	right: 0px;
}
.blackLine1{
	height: 1px;
	background: #333;
	margin-top: 180px;
}
.blackLine2{
	height: 1px;
	background: #333;
	margin-top: 10px;
}
.nameLinks p{
	font-size: 40px;
	text-align: center;
	padding-top: 5px;
}
.wrapperLinks{
	height: 100%;
	margin-top: 50px;
}
.wrapperLinks,
.secondListOfLinks{
	width: 100%;
}
.mainLinks li,
.secondListOfLinks li{
	display: inline-block;
	margin-left: 150px;
}
.secondListOfLinks{
	margin-top: 80px;
}
.wrappOtherLinks{
	width: 100%;
	height: 100%;
	margin-left: 300px;
	margin-right: 300px;
	border: 2px solid #333;
	margin-top: 120px;
}
.wrappOtherLinks h1{
	text-align: center;
	padding-top: 20px;
}
.wrappOtherLinks a{
	display: block;
	text-decoration: none !important;
	color: #619de5;
	margin: 70px 100px;
	font-size: 20px;
	font-weight: bold;
}
.anotherLinksList li{
	margin-top: -20px;
}
.mainLinks img,
.secondListOfLinks img{
	transition: 1s all;
}
.mainLinks img:hover,
.secondListOfLinks img:hover{
	transform: scale(1.2);
}
                                                                              /*study.html*/
#secondPartOfTable{
	margin-left: -4px;
}
.titleTable{
	margin-top: 70px;
}
.titleTable h2,
.scheduleGroups h3{
	text-align: center;
	font-family: 'Roboto', Helvetica, Arial, Lucida, sans-serif;
	font-size: 28px;
}
.scheduleGroups{
	margin-top: 70px;
}
#secondPartOfGroups{
	margin-left: -7px;
}
.ringsTitle{
	margin-top: 150px;
}
.ringsTitle h4{
	padding-bottom: 20px;
	font-family: 'Roboto', Helvetica, Arial, Lucida, sans-serif;
	font-size: 28px;
	font-weight: 500;
}
.tablesSchedule,
.rozklad3 img{
	border: 2px solid #333;
}
.rozklad3{
	margin-left: 300px; 
	margin-bottom: 250px;
}
.aboutHolidays{
	width: 100%;
	margin-top: 70px;
}
.holidays{
	border: 2px solid #333;
	margin-left: 50px;
}
.holidays p {
	padding-left: 100px;
}
.holidays p:first-child{
	padding-top: 100px;
}
                                                      						 /*pedComunity*/



																				/*History*/

.wrapperHistory{
	height: 100%;
	width: 100%;
	background: #fff;
	font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
	/*box-shadow:
  	 0 1px 4px rgba(0, 0, 0, .3),
  	 -23px 0 20px -23px rgba(0, 0, 0, .8),
  	 23px 0 20px -23px rgba(0, 0, 0, .8),
  	 0 0 40px rgba(0, 0, 0, .1) inset;*/
}
.wrapperHistory h1{
	color: #4169e1;
	padding: 20px 20px;
}
.wrapperHistory p{
	font-size: 18px;
	padding: 20px 20px;
}


















